@mixin lighter-font($weight:lighter, $size:0.7em) {
  font-weight: $weight;
  font-size: $size;
}

.body-left {
  .header-container {
    h1 {
      font-weight: 100;
      font-size: 2.5em;
      color: #640B5F;
      margin: 0px 0px;
    }
  }

  .list-container {
    h4 {
      margin-bottom: 0px;
    }
    ul {
      padding-left: 17px;
      padding-top: 5px;
      margin-top: 5px;
      li {
        padding: 0px;
      }
    }
  }

  .mobile-container {
    background-color: #bcd7c4;
    display: flex;

    h3 {
      color: #57004d;
      padding: 10px;
      margin-bottom: 0;
    }
    p {
      padding-left: 10px;
      padding-bottom: 10px;
      margin-top: 0;
      .clear {
        clear: both;
      }
    }

    .mobile-img {
      float: right;
      margin-top: -100px;
      margin-right: 30px;
    }
  }

  .rate-container {
    h1 {
      font-weight: 100;
      font-size: 2.5em;
      margin: 0px, 20px;
    }

    table {

      font-family: arial,
      sans-serif;
      border-collapse: collapse;
      width: 100%;
      td,
      th {
        text-align: left;
        padding: 8px;
      }
      tr {
        background-color: #eef5f0;
      }
      tr:nth-child(even) {
        background-color: #ddebe1;
      }
      tr:first-child {
        background-color: white;
        @include lighter-font;
      }
      tr:nth-child(2) {
        font-weight: 900;
      }
    }

    .table-footer {
      float: right;
      margin: 0;
      @include lighter-font;
    }
  }
}

.body-right {
  .login {
    font-weight: 100;
    font-size: 2.5em;
    color: #640B5F;
    margin: 0px 50px;
    .login-btn {
      background-color: #640b5f;
      color: white;
      width: 200px;
      height: 40px;
    }
  }
}