@import 'header';
@import 'body';
@import 'modal';
@import "variables";


body {
  margin: auto;
  padding: auto;
  width: 100%;
  height: 100%;
}

header,
section,
div {
  box-sizing: border-box;
}

.dialogIsOpen {

  /* Recede */
  -webkit-transform: scale(0.9);
  pointer-events: none;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  @media screen and (max-width: $break-sm) {
    display:block;
  }
}

main {
  margin: 40px 70px;

  .body-left {
    width: 60%;
    @media screen and (min-width: $break-xl-min) {
      margin-left:100px;
    }

    @media screen and (max-width: $break-sm) {
      width: 100%;
    }
  }

  .body-right {
    width: 40%;
    @media screen and (min-width: $break-xl-min) {
      margin-right:100px;
    }

    @media screen and (max-width: $break-sm) {
      width: 100%;
    }
  }
}